<article class="media content-section">

    <img class="rounded-circle article-img" src= "{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">

    <div class="media-body">
        <div class="article-metadata">
            <a class="username-link mr-2" href="{{ url_for('user', username=post.author.username) }}">{{ post.author.username }}</a>
            <small class="text-muted">{{ post.timestamp.strftime('%Y-%m-%d') }}</small>
        </div>

        <h2><a class="article-title" href="{{ url_for('post',post_id=post.id)}}">{{ post.title }}</a></h2>
        <p class="article-content">{{ post.content }}</p>


        {% for comment in post.comments %}
        <div class="posted-comment">
            <img class="rounded-circle comment-img" src= "{{ url_for('static', filename='profile_pics/' + comment.author.image_file) }}"> ~
              {{ comment.author.username }} <br> {{comment.content}}
        </div>

        <br>
        {% endfor %}

        <div class="form-group">
            <form class="input-group" method="POST" action="/comment/{{post.id}}">
                <textarea class="form-control form-control-lg" id="content" name="content" required=""></textarea>
                <button type="submit" class="btn btn-outline-info ml-2">Comment</button>
            </form>
        </div>


    </div>

</article>