{% extends "base.html" %}
{% block content %}
<div class="content-section login-page">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Log In</legend>
            <div class="form-group">
                {{ form.username.label(class="form-control-label") }}

                {% if form.username.errors %}
                {{ form.username(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.username.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>

                {% else %}
                {{ form.username(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.password.label(class="form-control-label") }}
                {% if form.password.errors %}
                {{ form.password(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>

                {% else %}
                {{ form.password(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-check">
                {{ form.remember(class="form-check-input mt-2") }}
                {{ form.remember.label(class="form-check-label ml-2") }}
            </div>
        </fieldset>

        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>

        <small class="text-muted ml-2">
            <a class="hover-dark" href="#">Forgot Password?</a>
        </small>
    </form>
</div>

<div class="border-top pt-3">
    <small class="text-muted">
        Need An Account?
        <a class="hover-dark" href="{{ url_for('register') }}">Sign Up Now</a>
    </small>
</div>
{% endblock content %}